* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

html {
    font-size: 14px;
}

body, button {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}
